workflow_json/hierarchical_summarization_workflow.json
{
  "name": "Hierarchical Summarization Directory Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c188c31c-1c45-4118-9ece-5b6057ab5177",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "c188c31c-1c45-4118-9ece-5b6057ab5177"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.action}}",
              "value2": "hierarchical_summarization"
            }
          ]
        }
      },
      "id": "router-node",
      "name": "Route by Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [440, 300],
      "notesInFlow": true,
      "notes": "Routes requests based on action type"
    },
    {
      "parameters": {
        "contentSource": "directory",
        "directoryPath": "={{$json.directoryPath}}",
        "chunkSize": 2048,
        "summaryPrompt": "Provide a concise summary of the following text:",
        "finalSummaryPrompt": "Create a comprehensive summary that captures all key information from these summaries:",
        "databaseConfig": {
          "host": "db",
          "port": 5432,
          "database": "{{ $env.DB_NAME }}",
          "user": "{{ $env.DB_USER }}",
          "password": "{{ $env.DB_PASSWORD }}"
        }
      },
      "id": "hierarchical-summarization-node",
      "name": "Hierarchical Summarization",
      "type": "n8n-nodes-hierarchicalSummarization.hierarchicalSummarization",
      "typeVersion": 1,
      "position": [640, 260],
      "notesInFlow": true,
      "notes": "Configure the AI Model connection in the node settings"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "summary",
              "value": "={{$json.finalSummary}}"
            },
            {
              "name": "batchId",
              "value": "={{$json.batchId}}"
            },
            {
              "name": "documentsProcessed",
              "value": "={{$json.documentsProcessed}}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response-node",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [840, 260]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Hierarchical Summarization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hierarchical Summarization": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "hierarchical-summarization-workflow",
  "meta": {
    "instanceId": "data-compose"
  },
  "tags": []
}